.flex{
    display: flex;
    
    
}
.img{
height: 50%;
width: 60%


}
.btn{
background-color: tomato;
padding-left: 30px;
padding-right: 30px;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 10px;
color:white;


}










