.flex{
    display: flex;
padding: 2%;

    
}
body{
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Vidaloka', serif; 

}
.half-width img{
    width: 60%;
    padding-left: 50px;
    
}
 .text{
    
    border-left:solid 10px tomato;
    
}



.btn{
background-color: tomato;
padding-left: 40px;
padding-right: 40px;
padding-top: 15px;
padding-bottom: 15px;
border-radius: 5px;
color:white;
font-size: 20px;


}
.heading{
    
    font-size:55px;
    color: rgb(245, 177, 7);
    
}
.heading1{
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Vidaloka', serif; 
    font-size:55px;


}
.half-width{
    width: 50%;
padding-left: 60px;    
}



.half-width1{
width: 50%;
padding: 2%;


}
.paragraph{
    font-size: 20px;
}
.heading4{
    text-align: center;
    font-size: 50px;
}
.flexiable{
    
    display: flex;
    padding-left: 90px;
    padding-right: 60px;
}
.img-size{
height: 100px;
width: 120px;
padding-top: 10px;


}
.mission{
background-color: rgba(127, 255, 212, 0.582);
width: 33.33%;
padding-left: 20px;
margin-right: 40px;
border-radius: 15px;


}
.vission{
background-color: darkgoldenrod;
    width: 33.33%;
    border-radius: 15px;
    padding-left: 20px;
    margin-right: 40px;
}
.goal{
background-color: rebeccapurple;
width: 33.33%;
border-radius: 15px;
padding-left: 20px;
margin-right: 40px;


}

.flexi{
    display: flex;
    margin-top: 40px;
    margin-right: 80px;
    



}

.img img{
    height: 350px;
    width: 450px;
    margin-right: 60px;
    background-image: url(images/shapes/shape-1.png);
    background-position: left;
    background-repeat: no-repeat;
    margin-left: 80px;
    
}
